*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: $color-dark;
  font-family: $font;
  font-size: $base-size;
  line-height: 1.7;
  font-weight: $font-normal;
  color: $color-light;
}

.container {
  max-width: 740px;
  margin: 0 auto;
  padding: 0 20px;
}

section {
  margin-top: 75px;
}

.section-title {
  font-size: 58px;
  font-weight: $font-semibold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 13px;
}

h1,
h2,
h3 {
  margin: 0;
}
