#search form,
.search-results-number {
  margin-bottom: 88px;
}

.search-form-container {
  max-width: 1240px;
}

#search form {
  margin-top: 48px;

  .form-row {
    &:first-of-type {
      display: flex;
      flex-wrap: wrap;
    }

    &:last-of-type {
      margin-top: 20px;
      text-align: center;
    }
  }

  #categories-input-wrapper, #categories-select-wrapper {
    display: inline-block;
  }

  input, select {
    width: 355px;
    height: 65px;
    margin-left: 22px;
    padding: 0 15px;
    border: none;
    border-radius: 10px;
    font-size: 40px;
  }

  input {
    margin-right: 44px;
  }

  label {
    font-size: 28px;
    font-weight: $font-semibold;
    letter-spacing: 7px;
    vertical-align: super;
  }

  button {
    display: inline-block;
    height: 65px;
    width: 140px;
    vertical-align: super;
    background-color: $color-main;
    border: none;
    border-radius: 10px;
    padding: 0;
    font-size: 22px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: $color-light;
    cursor: pointer;

  }

}
