/* Variables */

$color-dark: #131313;
$color-light: #fff;
$color-main: #cf383e;
$color-grey: #bfbfbf;

$font: 'Source Sans Pro', sans-serif;

$font-normal: 400;
$font-semibold: 600;
$font-bold: 700;
$font-extrabold: 900;

$base-size: 20px;


/* Mixins */

@mixin background-image(){
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@mixin center(){
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
