.songs-list {
  padding-left: 0;

  li {
    max-width: 560px;
    margin: 0 auto 60px;
  }

  h4 {
    padding-bottom: 56px;
    line-height: 1.4;

    .song-author {
      text-transform: uppercase;
    }

  }

  .green-audio-player {
    height: 70px;
    width: 100%;

    .pin.progress__pin {
      background-color: $color-main;
      width: 18px;
      height: 18px;
    }

  }

  .song-info {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;

    p {
      margin: 0;
      line-height: 1.7;

      &.song-category {
        padding-left: 15px;
      }

      &.song-rank {
        padding-right: 15px;
      }

    }

  }

}
