.subscribe-wrapper h1,
.subscribe-wrapper h2 {
  font-size: 100px;
  letter-spacing: 20px;
}

.album-info,
.join-now-link {
  font-size: 38px;
}

.subscribe-wrapper {
  height: 1020px;
  margin-top: 145px;
  position: relative;
  background-color: $color-dark;
  background-image: url("../images/subscribe.jpg");
  @include background-image();

  h1 {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
    font-weight: $font-semibold;
    text-transform: uppercase;
    white-space: nowrap;

    strong {
      font-weight: $font-extrabold;
    }

  }

}

.subscribe-wrapper-inner {
  position: absolute;
  @include center();
  width: 100%;
  max-width: 1238px;
  height: 740px;

  .album-info {
    position: absolute;
    right: 0;
    bottom: 0;
    letter-spacing: 9px;
    line-height: 1.4;


    h3 {
      font-size: 38px;
      font-weight: $font-bold;
      color: $color-grey;
      text-transform: uppercase;
      text-align: right;
    }

    p {
      margin: 0;
      text-align: right;
    }

  }

  .join-now-link {
    display: block;
    position: absolute;
    left: 0;
    top: 385px;
    width: 312px;
    height: 132px;
    background-color: $color-main;
    border-radius: 5px;
    text-align: center;
    line-height: 132px;
    color: $color-light;
    text-transform: uppercase;
    font-weight: $font-bold;
    letter-spacing: 10px;
  }

}

.artist-card-wrapper {
  position: absolute;
  height: 580px;
  max-width: 470px;
  top: 25px;
  right: 35px;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

}

.artist-name {
  position: absolute;
  top: 275px;

  h2 {
    position: absolute;
    font-weight: $font-extrabold;

    &.artist-first-name {
      top: 0;
      transform: translateX(-100%);
    }

    &.artist-surname {
      top: 110px;
      transform: translateX(-50%);

      span {
        color: $color-main;
      }

    }

  }

}
