$color-dark: #131313;
$color-light: #fff;
$color-main: #cf383e;
$color-grey: #bfbfbf;

$font: 'Source Sans Pro', sans-serif;

$font-normal: 400;
$font-semibold: 600;
$font-bold: 700;
$font-extrabold: 900;

$transition: all 1s;

$base-size: 14px;
